.blogItem-wrap {
  display: flex;
  margin-top: 20px;
}

.blogItem-desc-wrap{
  margin-left: 20px;
}

figure{
  margin:0;
  overflow: hidden;
  border-radius: 10px;
}
.blogItem-cover {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  position: relative;
  transform:scale(1);
  transition: 0.3s ease-in-out;
}

.blogItem-cover:hover {
  transform:scale(1.1);

}

.blogItem-wrap h3 {
  margin: 0.5rem 0 1rem 0;
  flex: 1;
}

.blogItem-desc {
  position: relative;
  max-height: 100px;
  overflow: hidden;
  padding-right: 0.6rem;
  font-size: 0.8rem;
  color: #a9a9a9;
  margin-bottom: 7px;
}

.blogItem-desc::before {
  position: absolute;
  content: '...';
  bottom: 0;
  right: 0;
}

.blogItem-wrap footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
}

.blogItem-link {
  text-decoration: none;
  color: white;
  padding: 2px;
  background-color: #1091ff;
}

.blogItem-link:hover {
  background-color: rgb(7, 47, 82);
}

.blogItem-author {
  display: flex;
  align-items: center;
}

.blogItem-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}

.blogItem-author p {
  font-size: 0.6rem;
  color: #a9a9a9;
  font-weight: 600;
}