
.blogItem-wrap-side {
  display: flex;
  align-content: center;
  margin-top: 20px;
}

.blogItem-desc-wrap-side{
  margin-left: 20px;
  max-height: 125px;
  overflow: hidden;
}


figure{
  margin:0;
  overflow: hidden;
  border-radius: 10px;
}

.blogItem-cover-side {
  width: 150px;
  height: 125px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  position: relative;
  transform:scale(1);
  transition: 0.3s ease-in-out;
}

.blogItem-cover-side:hover {
  transform:scale(1.1);

}

/* .blogItem-wrap-side h3 {
  margin: 0.5rem 0 1rem 0;
  flex: 1;
} */

.blogItem-desc-side {
  position: relative;
  padding-right: 0.6rem;
  font-size: 0.8rem;
  color: #a9a9a9;
  margin-bottom: 7px;
}

.blogItem-desc-side::before {
  position: absolute;
  content: '...';
  bottom: 0;
  right: 0;
}

.blogItem-wrap-side footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
}

.blogItem-link-side {
  text-decoration: none;
  color: white;
  padding: 2px;
  background-color: #1091ff;
}

.blogItem-link-side:hover {
  background-color: rgb(7, 47, 82);
}

.blogItem-author-side {
  display: flex;
  align-items: center;
}

.blogItem-author-side img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}

.blogItem-author-side p {
  font-size: 0.6rem;
  color: #a9a9a9;
  font-weight: 600;
}



Link{
  text-decoration: none;
}